{% block sw_product_detail_customer_prices_edit_header %}
    <template slot="smart-bar-header">
        <h2>{{ $tc('CustomerSpecificPrices.sw-product.detail.create.header') + productName }}</h2>
    </template>
{% endblock %}